html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    background-color: #3a3a3a;
    overflow: hidden;
  }

  #main-holder {
    width: 50%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
  }

  #signup-error-msg-holder {
    width: 50%;
    height: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
  }

  #signup-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #error-msg-second-line {
    display: block;
  }

  #signup-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
  }

  #prime-form {

  }

  h1 {
    align-items: right;
  }

  .signup-form-field::placeholder {
    color: #3a3a3a;
  }

  .signup-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }

  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }

  .signup-image {
    position: absolute; 
    left: 0; 
    width: 50%; 
    height: 100%; 
  }

  .signup-form-column-left,
  .signup-form-column-right {
    flex: 1;
    padding: 0 10px; 
  }
  
  .signup-form-column-left input,
  .signup-form-column-right input {
    width: 100%; 
    margin-bottom: 10px;
  }

  .main-holder .login-container {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  